<p>
  <%= form.collection_select(:trello_board_id, Trello::Board.all, :id, :name, prompt: true) %>
  Target Trello board.
</p>

<p>
  <%= form.check_box :trello_board_sync %>
  Enable Redmine to Trello Board synchronizing?
</p>

<p>
  <%= form.text_area :trello_mapping_redmine_statuses %><br />
  Redmine statuses mapping, enter one status per line.
</p>

<p>
  <%= form.text_area :trello_mapping_trello_lists %><br />
  Trello lists mapping, enter one list per line.
</p>

<p>
  <%= form.text_area :trello_excluded_trackers %><br />
  Excluded tracker(s), enter one tracker per line.
</p>